<!--posts/group_liist.html Версия от 8 февраля. Устранение замечаний Алекасея Фролова-->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="ru">
<title>{% block title %} Страница групп сообществ{% endblock %}</title>
{% block content %}
  <div class="container py-5">
    <h1>Группа сообщества</h1>
    <p>{{ group.title }}</p>
    <article>
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        {% if not forloop.last %} <hr> {% endif %}
      {% endfor %}
    </article>
  </div>
{% endblock %}
